label.error{
	color: #A94442;
}
#pilihpaket tr{
	cursor: pointer;
}
#pilihpaket tr.selected,#pilihpaket tr.selected td{
	background: #3C8DBC !important;
}
#pilihpaket tr.selected td{
	color: #FFF;
}
.multiselect-container > li > a {
  padding: 3px 30px;
}

.icon-holder{
	width: 54px;
	height: 54px;
	padding: 10px;
	border: 1px solid #ddd;
}

.icon-holder img{
	width: 100%;
	height: auto;
}

.content-header {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	padding: 15px 15px 10px 20px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	#border: 0.5px solid #dedede !important;
}

.alert {
	margin-top: 10px !important;
}

.form-group {
	display: block;
}

td.td-right {
    text-align: right !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: springgreen !important;
}

.content-header {
    box-shadow: 1px 1px 2px greenyellow !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
    border-right-color: #00a65a !important;
    border-left-color: #00a65a !important;
}

.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #00a65a !important;
}

.jumbotron.jumbotron-footer {
    color: #fff !important;
    margin-bottom: 0px !important;
    background-color: #00a65a !important;
}

.jumbotron.jumbotron-footer a {
    color: #fff !important;
}

.main-footer.footer-front  {
    color: #000 !important;
    background-color: greenyellow !important;
    border: none !important;
}

.btn-social>:first-child {
    width: 40px !important;
}

.btn-social {
    padding-left: 50px !important;
}

.ajax-file-upload {
    line-height: 10px !important;
    font-size: inherit;
    height: inherit;

}

.ajax-upload-dragdrop {
    padding: 5px 5px 0px 5px;
}

.ajax-file-upload-container {
    margin: 5px 0px 5px 0px;
}